on:
  push:
    branches: [main]
    tags:
      - 'v*'
      - 'pv*'
  pull_request:
name: CI-CL
jobs:

  lint:
    name: "Flatpak Manifest Lint"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
     - uses: actions/checkout@v4
     - uses: docker://ghcr.io/flathub/flatpak-builder-lint:latest
       with:
          args: --exceptions manifest org.fritzing.Fritzing.json
          
  build:
    name: "Flatpak Build"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:kde-6.7
      options: --privileged
    strategy:
      matrix:
      # arch: [x86_64, aarch64]
      # I could not get arm64 to compile, temporarily don't do it
        arch: [x86_64]
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      # Docker is required by the docker/setup-qemu-action which enables emulation
      - name: Install deps
        if: ${{ matrix.arch != 'x86_64' }}
        run: |
          dnf -y install docker
      - name: Set up QEMU
        if: ${{ matrix.arch != 'x86_64' }}
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: build
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          # bundle: Fritzing.flatpak
          build-bundle: true
          manifest-path: org.fritzing.Fritzing.json
          # cache-key: flatpak-builder-${sha256(manifestPath)
          # default
          arch: ${{ matrix.arch }}

  release:
    needs: build
    if: ${{ startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/pv') }}
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: download artifacts
        uses: actions/download-artifact@v3
        with:
          pattern: app-*
      - name: unpack artifacts
        run: |
          for i in app-*; do for j in `ls $i`; do mv $i/$j ${j/app/$i}; done; rmdir $i; done
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          files: app-*
          draft: false
          prerelease: ${{ startsWith(github.ref, 'refs/tags/pv') }}
          generate_release_notes: false
